*{
  box-sizing: border-box;
  text-align: center;
}
input {
  width: 25% !important;
  margin-right: 0.25em!important;
  margin-left: 0.25em!important;
}

.App {
  text-align: center;
  padding: 5px;
}

.App-header {
  background: #0d0f7b;
 border-radius: 10px;
 padding: 1px;
flex-direction: column;
  color: white;
}

