*{
  box-sizing: border-box;
  text-align: center;
}
input {
  width: 25% !important;
  margin-right: 0.25em!important;
  margin-left: 0.25em!important;
}

.App {
  text-align: center;
  padding: 5px;
}

.header-text {
  background: #081B4B;
 border-radius: 10px;
 padding: 1px;
  color: white;
}
.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

#search-form{
  display: flex;
  width: 100%;
  border: 1px solid black;
   margin: 5px 0;
  height: 40px;
  border-radius: 10px;
  padding: 4px;
  justify-content: space-between;
}

#search{
  text-align: left;
  flex: 1;
  font-size: 18px;
  outline: none;
  border: none;
  background: transparent;
  width: 80%;
}

#search-form button{
  background: transparent;
  border: none;
  outline: none;
  font-size: 26px;
  cursor: pointer;
  }

  .form-inputs{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  #new-item-form{
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 70px;
    border-radius: 8px;
    border: 1px solid black;
    margin: 6px 0;
    padding: 5px;
  }

  .text-input{
    text-align: left;
  }
  #new-item-form input{
    height: 25px;
    font-size: 16px;
  }
  #category{
    height: 25px;
    min-width: 150px;
  }
  #amount{
    width: 150px;
  }
  #new-item-form button{
    height: 25px;
    margin-top: 7px;
    border-radius: 0;
    outline: 0;
    border: 0;
  }
  .add{
    padding: 15px;
    display: flex;
    color: #171819;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
  }

  
  table{
    width: 100%;
    border-radius: 4px;
    border-collapse:collapse;
  }
  tr,td,th,table{
    border: 1px solid;
  }
  th{
    background: #1a1919e1;
    color: white;
    padding: 6px;
  }
  td{
    padding: 5px;
    
  }
 
  

