*{
  box-sizing: border-box;
  text-align: center;
}

.App {
  text-align: center;
  padding: 5px;
}

.App-header {
  background: #0d0f7b;
 border-radius: 10px;
 padding: 1px;
flex-direction: column;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
